meta(charset="utf-8")
meta(name="viewport", content="initial-scale=1.0, width=device-width")
if seo.title
  meta(property="og:site_name", content=seo.title)
if seo.author
  meta(property="copyright", content!="&copy; " + (new Date()).getFullYear() + " " + seo.sitename)
link(rel="alternate", type="application/rss+xml", href="/rss.xml")
link(rel="alternate", type="application/json", href="/feed.json")
link(rel="stylesheet", type="text/css", href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
link(rel="preconnect" href="https://fonts.googleapis.com")
link(rel="preconnect" href="https://fonts.gstatic.com", crossorigin)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@400;700&family=Merriweather+Sans&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap")
link(rel="stylesheet", type="text/css", href="/css/styles.css")
script(async, src="https://www.googletagmanager.com/gtag/js?id=G-Q3S1HZYBXZ")
script(type="text/javascript" src="/js/bundle.js" async)