header
  nav#nav
    a(href="/" class="logo")
      svg(width="22", height="27", viewBox="0 0 22 27" fill="none")
        path(d="M20.6017 13.1627C20.6017 20.847 16.7892 25.1627 10.906 25.1627C5.02281 25.1627 1.21033 20.847 1.21033 13.1627C1.21033 5.47848 5.02281 1.16272 10.906 1.16272C16.7892 1.16272 20.6017 5.47848 20.6017 13.1627Z", stroke="#e85929", stroke-width="2")
        path(d="M11.0326 9.97749L11.0334 6.9222C11.0335 6.3197 10.2971 6.09284 9.98472 6.60803C9.15223 7.98086 8.12756 9.95443 8.12756 11.3517V12.1448C8.12756 13.7499 9.42874 15.0506 11.0338 15.0506C12.6389 15.0506 13.9401 13.7493 13.9401 12.1442V11.8801C13.9401 10.8521 13.5306 9.52757 13.3003 8.86379C13.2418 8.69521 13.0168 8.67827 12.9295 8.83388L12.127 10.2637C11.9615 10.5586 11.5811 10.652 11.2979 10.4673C11.1324 10.3593 11.0326 10.1751 11.0326 9.97749Z", fill="#e85929")
        path(d="M6.81067 17.2514C6.81067 17.027 6.99259 16.8451 7.217 16.8451H14.5949C14.8193 16.8451 15.0012 17.027 15.0012 17.2514V17.2514C15.0012 19.4955 13.15 21.3147 10.9059 21.3147V21.3147C8.66186 21.3147 6.81067 19.4955 6.81067 17.2514V17.2514Z", fill="#e85929")
      span The Anthronomicon
    ul
      li
        a(href="/", class="link essays") Essays
      li
        a(href="/about", class="link about") About
      li
        a(href="/recommended-reading", class="link reading") Recommended Reading