header
  nav#nav
    ul
      li
        a(href="/essays", class="link essays") Essays
      li
        a(href="/about", class="link about") About
      li
        a(href="/recommended-reading", class="link reading") Recommended Reading
    button
      svg(width="25", height="25", viewBox="0 0 25 25", fill="none")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M3.81016 3.84478C5.94112 1.72714 8.99257 0.631836 12.5886 0.631836C16.1847 0.631836 19.2361 1.72714 21.3671 3.84478C23.477 5.94149 24.5886 8.94321 24.5886 12.6318C24.5886 16.3205 23.477 19.3222 21.3671 21.4189C19.2361 23.5365 16.1847 24.6318 12.5886 24.6318C8.99257 24.6318 5.94112 23.5365 3.81016 21.4189C1.70026 19.3222 0.588623 16.3205 0.588623 12.6318C0.588623 8.9432 1.70026 5.94149 3.81016 3.84478Z", fill="#D04E24")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M6.73631 6.7738C8.15696 5.36204 10.1913 4.63184 12.5886 4.63184C14.986 4.63184 17.0203 5.36204 18.4409 6.7738C19.8475 8.17161 20.5886 10.1727 20.5886 12.6318C20.5886 16.4243 15.7739 12.6127 14.4409 15.8232C13.7458 17.4975 15.0876 18.3398 15.0876 19.1778C15.0876 20.0158 14.0536 20.5575 12.5886 20.6318C10.1913 20.6318 8.15696 19.9016 6.73631 18.4899C5.32971 17.0921 4.58862 15.0909 4.58862 12.6318C4.58862 10.1727 5.32971 8.17161 6.73631 6.7738Z", fill="#F5F1EB")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M11.8571 6.61015C12.0347 6.43368 12.289 6.34241 12.5886 6.34241C12.8883 6.34241 13.1426 6.43368 13.3202 6.61015C13.496 6.78488 13.5886 7.03502 13.5886 7.34241C13.5886 7.64979 13.496 7.89994 13.3202 8.07466C13.1426 8.25113 12.8883 8.34241 12.5886 8.34241C12.289 8.34241 12.0347 8.25113 11.8571 8.07466C11.6813 7.89994 11.5886 7.64979 11.5886 7.34241C11.5886 7.03502 11.6813 6.78488 11.8571 6.61015Z", fill="#D04E24")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M15.8571 7.94353C16.0347 7.76706 16.289 7.67578 16.5886 7.67578C16.8883 7.67578 17.1426 7.76706 17.3202 7.94353C17.496 8.11825 17.5886 8.3684 17.5886 8.67578C17.5886 8.98317 17.496 9.23331 17.3202 9.40804C17.1426 9.58451 16.8883 9.67578 16.5886 9.67578C16.289 9.67578 16.0347 9.58451 15.8571 9.40804C15.6813 9.23331 15.5886 8.98317 15.5886 8.67578C15.5886 8.3684 15.6813 8.11825 15.8571 7.94353Z," fill="#D04E24")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M7.85708 7.94353C8.03466 7.76706 8.28895 7.67578 8.58862 7.67578C8.88829 7.67578 9.14258 7.76706 9.32016 7.94353C9.49599 8.11825 9.58862 8.3684 9.58862 8.67578C9.58862 8.98317 9.49599 9.23331 9.32016 9.40804C9.14258 9.58451 8.88829 9.67578 8.58862 9.67578C8.28895 9.67578 8.03466 9.58451 7.85708 9.40804C7.68126 9.23331 7.58862 8.98317 7.58862 8.67578C7.58862 8.3684 7.68126 8.11825 7.85708 7.94353Z", fill="#D04E24")
        path(fill-rule="evenodd", clip-rule="evenodd", d="M6.52371 11.9435C6.70129 11.7671 6.95558 11.6758 7.25525 11.6758C7.55492 11.6758 7.80921 11.7671 7.98679 11.9435C8.16261 12.1183 8.25525 12.3684 8.25525 12.6758C8.25525 12.9832 8.16261 13.2333 7.98679 13.408C7.80921 13.5845 7.55492 13.6758 7.25525 13.6758C6.95558 13.6758 6.70129 13.5845 6.52371 13.408C6.34789 13.2333 6.25525 12.9832 6.25525 12.6758C6.25525 12.3684 6.34789 12.1183 6.52371 11.9435Z", fill="#D04E24")
  a(href="/").title
    svg(width="22", height="27", viewBox="0 0 22 27" fill="none")
      path(d="M20.6017 13.1627C20.6017 20.847 16.7892 25.1627 10.906 25.1627C5.02281 25.1627 1.21033 20.847 1.21033 13.1627C1.21033 5.47848 5.02281 1.16272 10.906 1.16272C16.7892 1.16272 20.6017 5.47848 20.6017 13.1627Z", stroke="#F5F1EB", stroke-width="2")
      path(d="M11.0326 9.97749L11.0334 6.9222C11.0335 6.3197 10.2971 6.09284 9.98472 6.60803C9.15223 7.98086 8.12756 9.95443 8.12756 11.3517V12.1448C8.12756 13.7499 9.42874 15.0506 11.0338 15.0506C12.6389 15.0506 13.9401 13.7493 13.9401 12.1442V11.8801C13.9401 10.8521 13.5306 9.52757 13.3003 8.86379C13.2418 8.69521 13.0168 8.67827 12.9295 8.83388L12.127 10.2637C11.9615 10.5586 11.5811 10.652 11.2979 10.4673C11.1324 10.3593 11.0326 10.1751 11.0326 9.97749Z", fill="#F5F1EB")
      path(d="M6.81067 17.2514C6.81067 17.027 6.99259 16.8451 7.217 16.8451H14.5949C14.8193 16.8451 15.0012 17.027 15.0012 17.2514V17.2514C15.0012 19.4955 13.15 21.3147 10.9059 21.3147V21.3147C8.66186 21.3147 6.81067 19.4955 6.81067 17.2514V17.2514Z", fill="#F5F1EB")
    h1 Anthronomicon