main
  article
    div.header
        a(href="/essays/" + path) #[h2=attributes.title]
        span #[+time(attributes.date)]
        svg(width="9", height="15", viewBox="0 0 9 16" fill="none")
          path(d="M4.98058 5.51628C4.65715 5.30531 4.67685 4.83611 4.64099 4.45162C4.58873 3.89137 4.55375 2.97857 4.71609 1.97121C4.98286 0.315878 3.97985 1.14185 3.66745 1.65703C2.83496 3.02987 1.81029 5.00344 1.81029 6.40073V7.19386C1.81029 8.79894 3.11146 10.0996 4.71655 10.0996C6.32163 10.0996 7.6228 8.79831 7.6228 7.19323V6.92914C7.6228 5.90116 7.21335 4.57658 6.98302 3.9128C6.92453 3.74422 6.69953 3.72727 6.6122 3.88288L5.80974 5.31275C5.64424 5.60764 5.26381 5.70102 4.98058 5.51628Z", fill="#B3B3B3")
          path(d="M0.493408 11.3004C0.493408 11.076 0.675327 10.8941 0.899736 10.8941H8.27763C8.50204 10.8941 8.68396 11.076 8.68396 11.3004C8.68396 13.5445 6.83277 15.3637 4.58868 15.3637C2.3446 15.3637 0.493408 13.5445 0.493408 11.3004Z", fill="#B3B3B3")
    div.content
        | !{body}
