time {
  color: var(--gray);
  font-family: "brother-1816", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 26px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

article {
  font-family: "source-serif-4-small-text", serif;
  font-weight: 400;
  font-style: normal;
  max-width: 760px;
  align-items: center;
  text-align: justify;
  line-height: 32px;
  margin-bottom: 64px;
  border: 2px solid black;
  box-shadow: 8px 8px 0 0 black;
  background-color: white;
}

article img {
  max-width: 760px;
  margin: 0 auto;
  margin-bottom: 24px;
}

article:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  article > .content {
    border-radius: 48px;
  }
}

article h2 {
  color: black;
  text-align: left;
  font-family: "brother-1816", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 96px;
  line-height: 112px;
  margin: 0;
  text-transform: uppercase;
}

article > .content {
  max-width: 640px;
  padding: 0 60px;
  padding-bottom: 24px;
}

@media screen and (max-width: 700px) {
  article > .content {
    max-width: 100%;
    padding: 0 24px;
  }
}

article > .header {
  max-width: 640px;
  text-align: left;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

article > .header > .meta {
  margin-bottom: 8px;
}

article a {
  color: var(--blue);
  font-weight: bold;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

article > .header a {
  text-decoration: none;
}

.book-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-info > strong {
  max-width: 420px;
}

.book-container > img {
  border-radius: 0 6% 6% 0/4%;
  overflow: hidden;
  filter: drop-shadow(0 0.2rem 0.6rem rgba(0, 0, 0, 0.2));
  margin-right: 24px;
  width: 124px;
  height: 148px;
}
