:root {
  --orange: #E35E34;
  --burnt-orange: #D04E24;
  --white: #F5F1EB;
  --gray: #B3B3B3;
  --black: #1E1E1E;
  --deep-black: #1A1A1A;
  --blue: #4372EB;
};

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: var(--gray);
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  font-weight: normal;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden { display: none !important; }

::selection {
  color: var(--white);
  background: var(--orange);
}