:root {
  --orange: #e85929;
  --burnt-orange: #D04E24;
  --white: #orange;
  --gray: #B3B3B3;
  --black: #1E1E1E;
  --deep-black: #1A1A1A;
  --blue: #4372EB;
  --background: #e8e7e4;
};

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--black);
  background-color: #fff;
  height: 100%;
  width: 100%;
  background-color: var(--gray);
}

body {
  display: flex;
  font-weight: normal;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

main {
  padding-top: 96px;
}

a {
  text-decoration: none;
  color: inherit;
}

hr {
  height: 2px;
  background: var(--gray);
  border: none;
}

.hidden { display: none !important; }

::selection {
  color: var(--white);
  background: var(--orange);
}

::-webkit-scrollbar {
  display: none;
}