header {
  font-family: "brother-1816";
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: 27px;
  align-items: center;
  padding: 12px;
  border-right: 2px solid black;
}

.logo svg {
  margin-right: 8px;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  padding: 0 16px;
  height: 100%;
  vertical-align: middle;
  line-height: 51px;
}

nav ul li:first-of-type {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

nav ul li:last-of-type {
  border-left: 2px solid black;
}

nav .active {
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--orange);
}

@media screen and (max-width: 700px) {
  nav ul li:first-of-type {
    border: none;
  }
  
  nav ul li:last-of-type {
    border: none;
  }

  .logo {
    margin-bottom: 24px;
    border: none;
  }

  nav {
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-end;
  }

  nav ul li a {
    margin: 0;
  }

  nav ul li {
    margin-bottom: 0;
  }
  
  nav .active {
    margin: 0;
  }
}

@media screen and (max-width: 700px) {
  .title {
    margin-bottom: 24px;
  }
}
